/*
  snippets/breadcrumb.php
  --clr-breadcrumb: Breadcrumb-Farbe
  --font-size:      Schriftgröße
*/

.breadcrumb {
  position: relative;
  padding-block: .25em;

  /* Overlay */
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(to right, rgba(161, 186, 35, 0) 90%, var(--clr-body-background) 100%);
    pointer-events: none;
  }
  & a {
    text-decoration: none;
  }

  & ol {
    color: var(--clr-breadcrumb, var(--clr-grey-700));
    display: flex;
    font-size: var(--font-size-s);
    list-style-type: none;
    margin: 0;
    overflow-x: auto;
    /* --alpha: .8; */
    /* opacity: .8; */
	@media (--viewport-medium) {
    & {
      font-size: var(--font-size-xs);
    }
  }
  }

  & li {
    flex-shrink: 0;
    /* opacity: .5; */

	&:last-of-type {
		padding-inline-end: 10%;
	}

    & + li:before {
      /* display: inline-block; */
      content: ">";
      margin-inline: .25em;
      opacity: .5;
    }
  }



}
