 #offers {
	margin-block: 2em;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr;
	@media (--viewport-small) {
		& {
				grid-template-columns: 1fr 1fr;
		}
	}
	@media (--viewport-medium) {
		& {
				grid-template-columns: 1fr 1fr 1fr;
		}
	}

 }
.hidden {
	display: none;
}
.offer {
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: auto 1fr auto;
	padding: 1em;
	border: 1px solid var(--clr-grey-300);
	border-radius: 1.5em;
	font-size: var(--font-size-s);
	& .offer__icon {
		text-align: center;
		font-size: calc(2 * var(--font-size-xl));
		padding-block: .5em .1em;
		line-height: 1em;
	}
	& .price {
		text-align: center;
		font-size: var(--font-size-s);
		& + .price {
			padding: 0;
		}
	}
	& h3 {
		text-align: center;
		margin-block: 1em .5em;
	}
	& hr {
		background: black;
		opacity: .1;
		border: 0;
		border-radius: .25em;
		height: .5em;
		margin-inline: 20%;
		margin-block: .75em;
	}
	@media (--viewport-small) {
        & ul {
            font-size: var(--font-size-xs);
        }
    }
	&:first-of-type {
		background: var(--clr-white);
		& .button__dark {
			--clr-text: var(--clr-grey-999);
			--clr-bg: var(--clr-grey-100);
		}
	}
	&:nth-of-type(2) {
		margin-block: 0;
		background: var(--clr-purple-100);

	}
	&:nth-of-type(3) {
		background: var(--clr-green-100);
		color: var(--clr-purple-900);
		/* grid-column: 1 / -1; */
		box-shadow: 0 0 1em var(--clr-green-300);
		& .button__dark {
			--clr-text: var(--clr-green-999);
			--clr-bg: var(--clr-green-500);
		}
	}
	& footer {
		align-self: end;
	}
	& .button {
		display: inline-block;
		text-align: center;
		margin-block: 1em;
		margin-left: 50%;
    	transform: translateX(-50%);
	}
 }


 .steady__plans {
	margin-block: 1.5em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	font-size: var(--font-size-s);
}
.steady__plan.container {
	background: white;/* color-mix(in oklch, var(--clr-green-100), var(--clr-black-900) 10%); */
	border-radius: 1.5em;
	border: 1px solid var(--clr-green-900);
	display: grid;
	gap: 1em;
	grid-template-areas:
		"name"
		"image"
		"benefits";
	grid-template-rows: auto auto 1fr auto;
	padding-block: 1em;
	& > *:not(.plan__image) {
		padding-inline: 1em;
	}
}
.steady__plan.plan__benefits {
	/* margin-block: 2em; */
	grid-area: benefits;
}
.steady__plan.plan__header {
	grid-area: name;
	font-weight: 900;
	font-size: calc(1em / 0.8);
}
.steady__plan.plan__image {
	grid-area: image;
	& img {
		min-width: 100%;
		height: auto;
	}
}
