/**
	* Header
	* for logo see components/logo.css
	* for primary navigation see components/navigation/primary.css
 **/

.header {
	display: grid;
	gap: var(--padding-l);
	grid-template-areas: "logo main-navigation";
	grid-template-columns: 1fr auto;
	align-items: center;
	padding-block: var(--padding-l);
	font-size: var(--font-size-s);

	& .cta {
		text-decoration: 0.15em underline var(--clr-red-500);
		&:hover {
			text-decoration-color: var(--clr-red-700);
		}
	}

	/* Hide social navigation and cta on small screens */
	& .k-navigation-social,
	& .cta {
		display: none;
	}

	@media (--viewport-xxsmall) {
		& {
			grid-template-areas: "logo social-navigation main-navigation";
			grid-template-columns: 1fr auto auto;
			& .k-navigation-social {
				display: flex;
			}
		}
	}

	@media (--viewport-small) {
		& {
			grid-template-areas: "logo cta social-navigation main-navigation";
			grid-template-columns: 1fr auto auto auto;
			& .cta {
				display: inline-block;
			}
		}
	}
}
