html,
body {
	background-color: var(--clr-body-background);
	color: var(--clr-body-text);
	font-family: var(--font-family);
	font-size: calc(
		var(--font-size-base-multiplicator, 1) * var(--font-size-base)
	);
	line-height: 1.5;
	scroll-behavior: smooth;

	@media (--viewport-small) {
		& {
			--font-size-base-multiplicator: 1.25;
		}
	}
}
