/* Formulare */
input,
button,
.button,
textarea,
select {
	--clr-outline: var(--clr-red-300);
	background-color: var(--clr-input-background);
	border: none;
	border-radius: .5em;
	color: var(--clr-input-text);
	font: inherit;
	font-size: var(--font-size-s);
	margin-block: 1em;
	padding: var(--padding);

	&::placeholder {
		color: var(--clr-input-placeholder);
	}
}

.form {
	background: var(--clr-input-background, color-mix(in oklch, transparent 90%, black));
	padding: 1em;
}
input {
	--padding: 0.5em 1.5em;
	box-sizing: content-box;
	display: block;
	height: 2em;
	background: var(--clr-input-background, color-mix(in oklch, transparent 90%, black));
}
textarea {
	--padding: 1em 1em;
	height: 5em;
	width: 100%;
	resize: vertical;
}
input, textarea {
	&:active,
	&:focus {
		outline-color: var(--clr-outline);
		box-shadow: 0 0 .5em -0.3em color-mix(in oklch, var(--clr-input-background), black 40%);
	}
}

button,
.button,
select,
input[type="radio"] {
	cursor: pointer;
}

.button {
	--padding: 0.5em 1.5em;
	height: 2em;
}
button {
	&:has(.icon) {
		/* --padding: 0.5em 1.5em; */
		display: flex;
		gap: var(--padding-s);
		align-items: center;
	}
}

.button__dark, button[data-theme="dark"] {
	--clr-input-text: var(--clr-button-primary-text, var(--clr-red-500));
	--clr-input-background: var(--clr-button-primary-bg, var(--clr-purple-999));
	--clr-outline: var(--clr-red-300);
	--clr-icons: currentColor;
}

.no-button {
	--clr-input-background: transparent;
	font-size: var(--font-size-normal);
	line-height: 1.2;
	margin: 0;
	border: 0;
	overflow: visible;
	text-decoration: 0.15em underline;
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: var(--clr-input-text);
		transition: text-decoration-color 0.3s ease;
	}
}

input[type="search"] {
	/* --clr-outline: var(--clr-red-700); */
	cursor: pointer;
	background-color: transparent;
	background-color: var(--clr-input-background, color-mix(in oklch, transparent 80%, black));
	border: none;
	border-radius: .25em;
	border-bottom: .2em solid var(--clr-grey-300);
	color: var(--clr-input-text, var(--clr-green-100));
	font: inherit;/*
	font-size: var(--font-size-m); */
	font-weight: 400;
	/* margin-block: 1em 2em; */
	padding: var(--padding-s) var(--padding-m);
	box-sizing: content-box;
	/* height: auto; */
	&::placeholder {
		color: var(--clr-input-placeholder, var(--clr-green-100));
		opacity: .8;
		transition: opacity .3s ease;
	}
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 1em;
		width: 1em;
		border-radius: 50em;
		display: block;
		content: "clear";
		/* background: url(<?php svg('assets/icons/cancel-line.svg') ?>) no-repeat 50% 50%;
		background-size: contain; */
		opacity: 0;
		pointer-events: none;
	}
	&:focus::-webkit-search-cancel-button {
		opacity: .3;
		pointer-events: all;
	}

	&:hover {
		&::placeholder {
			opacity: 1;
		}
	}
	&:focus {
		&::placeholder {
			opacity: .5;
		}
	}

}

/* a.button, span.button {
	height: unset;
	margin-block: unset;
} */
/* .button__red {
  background-color: var(--clr-red-700) !important;
  color: var(--clr-red-100) !important;
  box-shadow:
    inset .2em .2em .4em var(--clr-white-50),
    inset -.2em -.2em .4em var(--clr-black-25);
  transition: all .2s ease;
	&:hover, &:focus {
		background: var(--clr-red-700) !important;
		transition: all .4s ease;
	}
	&:active {
		transform: scale(.9);
		transition: all .2s ease;
	}
} */
