#glossar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: .75em .5em;

    & nav {
        & ul {
            color: var(--clr-brown-7000, #7d6f64);
            display: flex;
						flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            /* margin-block: 1em; */
        }
        & li {
            margin-right: .33em;
        }
    }
    & nav, & >  section:not(.glossar__item) {
        grid-column: 1 / -1;
    }

	& search {
		grid-column: 1 / -1;
	}
}
.article__card.article__header {
	grid-column: 1 / -1;
}
.glossar__item {
    display: grid;
		gap: .5em;
    @media screen and (--viewport-small) {
        & {
            grid-template-rows: calc(1.5 * var(--font-size-l)) auto;
        }
    }
    & h2 {
        color: var(--clr-brown-700);
    }

    & a {
        background: var(--clr-brown-300);
        color: var(--clr-brown-900);
        padding: 1em;
        box-sizing: content-box;
        text-decoration: none;
        display: block;
        font-weight: 500;
        grid-row: 2;
        hyphens: auto;
    }
}

#glossar .subscribe {
    grid-row: 8;
}
#glossar .contribute {
    grid-row: 16;
}
