/* A11y: Skip-Link, öffnet durch initalen Tab */
.skip-to-content-link {
	background: var(--clr-purple-100);
	color: var(--clr-purple-999);
	margin: 0;
	padding: 2em;
	position: absolute;
	transform: translateY(-150%);
	transition: 0.3s;
	border-radius: 0 0 var(--padding-l) var(--padding-l);
	z-index: 9999;
	&:focus-within {
		transform: translateY(0%);
	}
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none;
	}
}
