.menu {
	display: flex;
	place-items: center;
	font-weight: 500;
	text-transform: uppercase;
	&:hover,
	&:focus {
		text-decoration: none;
		& .icon {
			& > .icon {
				&:nth-of-type(1) {
					transform: scaleX(0.5);
					opacity: 0;
				}
				&:nth-of-type(2) {
					opacity: 1;
					transform: scaleX(1);
				}
			}
		}
	}
	& > .icon {
		display: grid;
		grid-template-area: "icon";

		& > .icon {
			grid-area: icon;
			&:nth-of-type(1) {
				transform-origin: center;
				opacity: 1;
			}
			&:nth-of-type(2) {
				transform-origin: right;
				opacity: 0;
				transform: scaleX(0.5);
			}
		}
	}
}

.menu__overlay.active {
	opacity: 1;
	scale: 1 1;
	translate: 0;
	transform-origin: top right;
	visibility: visible;
}

.menu__overlay {
	background: var(--clr-green-900);
	bottom: 0;
	box-shadow: 0 0 1000px 10px black;
	color: var(--clr-green-100);
	display: grid;
	font-size: var(--font-size-xl);
	grid-template-rows: auto auto auto 1fr auto;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: var(--padding-l);
	opacity: 0;
	overflow: auto;
	padding: var(--padding-xl);
	position: fixed;
	right: 0;
	scale: 0.5 1;
	top: 0;
	translate: 100%;
	transform-origin: top right;
	transition: all 0.3s ease, opacity 0.1s 0.2s ease;
	visibility: hidden;
	width: clamp(16ch, calc(20em + 5vw), 100vw);
	z-index: 1000;
	& > * {
		grid-column: 1;
	}

	& .search__form {
		--clr-input-background: color-mix(in oklch, transparent 80%, black);
		--clr-input-placeholder: var(--clr-green-100);
		--clr-input-text: var(--clr-green-100);
		font-size: var(--font-size-xs);
		& .icon {
			--clr-icons: var(--clr-green-100);
		}
	}

	& .close {
		grid-column: 2;
		& .icon > .icon {
			&:nth-of-type(1), &:nth-of-type(2) {
				transform-origin: right;
				transform: scaleX(1);
			}
		}
		&:hover,
		&:focus {
			& .icon > .icon {
				&:nth-of-type(1), &:nth-of-type(2) {
					transform: scaleX(0.75);
				}
			}
		}
	}

	& .k-navigation-main {
		margin-block-start: var(--padding-m);
	}

	& .k-navigation-legal {
		font-size: var(--font-size-xs);
		grid-row: -1 / -2;
	}
}
