.menu {
	--clr-outline: unset;
	display: flex;
	place-items: center;
	border-radius: 0;
	& span {
		text-transform: uppercase;
		border-bottom: 0 solid black;
		font-weight: 500;
		color: initial;
		margin-inline-end: .2rem;
	}
	&:hover, &:focus {
		//outline: none;
		text-decoration: none;
		& span {
			border-bottom: .2em solid black;
			transition: border .2s ease;
		}
		& .icon {
			& > .icon {
				&:nth-of-type(1) {
					transform: scaleX(.5);
					opacity: 0;
				}
				&:nth-of-type(2) {
					opacity: 1;
					transform: scaleX(1);
				}
			}
		}
	}
	& > .icon {
		display: grid;
		grid-template-area: "icon";

		& > .icon {
			grid-area: icon;
			&:nth-of-type(1) {
				transform-origin: center;
				opacity: 1;
			}
			&:nth-of-type(2) {
				transform-origin: right;
				opacity: 0;
				transform: scaleX(.5);
			}
		}


	}
}
.close {
	--size-icons: 1.5em;
	font-size: 1.5em;
	padding: 0;
	width: auto;
	margin-inline-end: .5em;
	& {
		& .icon > .icon {
			&:nth-of-type(1) {
				transform-origin: right;
				transform: scaleX(1)
			}
			&:nth-of-type(2) {
				transform-origin: right;
				transform: scaleX(1)
			}
		}
		&:hover, &:focus {
			& .icon > .icon {
				&:nth-of-type(1) {
					transform: scaleX(.5)
				}
				&:nth-of-type(2) {
					transform: scaleX(.5)
				}
			}
		}
	}

}

nav {
    & ul {
        list-style-type: none;
        margin-left: 1em;
    }
    & a {
        text-decoration: none;
    }
}

.menu__overlay.active {
	visibility: visible;
	opacity: 1;
	scale: 1 1;
	translate: 0;
	transform-origin: top right;
}
/* nav.menu__overlay--hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0 0);
  transform-origin: top right;
} */

.menu__overlay {
	font-size: var(--font-size-xl);
	visibility: hidden;
	opacity: 0;
	scale: .5 1;
	translate: 100%;
	transform-origin: top right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    //width: max(30vw, 16ch);
		width: clamp(16ch, calc(20em + 5vw), 100vw);
    background: var(--clr-green-900);
    box-shadow: 0 0 1000px 10px black;
    color: var(--clr-green-100);
    padding-inline: 1rem;
    padding-block: 1rem;
    z-index: 1000;
	transition: all .3s ease;
	& > form {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: space-between;
	}
	& .search {
		transform: translateY(.35em);
	}

	& .k-navigation-main {

		& a {
			color: var(--clr-white-900);
			padding-bottom: .1em;
			&:hover, &:focus {
				outline: none;
				border-bottom: .1em solid var(--clr-red-700);
			}

		}

	}


	& .k-navigation-legal {
		font-size: var(--font-size-xs)
	}
    & > * {
        display: block;
        /* text-align: right; */
		margin-left: auto;
		margin-right: 0;
    }

    & ul {
        margin: 0;
        //font-size: calc(1.5 * var(--font-size-base));
        & ul {
            /* margin-inline: 1em; */
            /* font-size: .75em; */
            opacity: .75;
            margin-bottom: .5em;
        }
    }


}

.menu__overlay {
	& .social {
		justify-content: flex-start;
		gap: 0.5em;
		margin-block: 1em;
		& svg {
			//font-size: var(--font-size-normal);
			height: 1em;
			width: 1em;
		}
	}
}
