/* Footer der Website */
#footer {
	padding: .5em;

	@media (--viewport-small) {
		& {
			font-size: var(--font-size-s);
		}
	}

	&:not(.footer__reduced) {
		background: var(--clr-green-900);
		color: var(--clr-green-100);
		margin-top: 1rem;
		padding: 2em 1em;
	}
}

/* Wrapper für Inhalte */
.footer__container {
	display: grid;
	gap: 1em;
	grid-template-areas:
		"top"
		"social"
		"sitenav"
		"explainer";
	/* justify-items: center; */
	width: min(100%, calc(var(--max-content-width) - 2em));
	margin: 0 auto;
	@media (--viewport-small) {
		& {
			justify-items: normal;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				"social		top"
				"sitenav	explainer";
		}
	}
	#footer.footer__reduced & {
		grid-template-areas: "social	sitenav";
		overflow-x: scroll;
		grid-template-columns: auto 1fr;
	}
}
#footer .k-navigation-social {
	align-self: center;
	grid-area: social;
}
/* Layout */
.k-navigation-footer {
	grid-area: sitenav;
	#footer.footer__reduced & ul {
		display: flex;
		flex-direction: row;
		@media (--viewport-medium) {
			justify-content: flex-end;
		}
		& li {
			flex-shrink: 0;
		}
		& li + li {
			margin-inline-start: 0.5rem;
		}
	}
}
.footer__explainer {
	grid-area: explainer;
	& p:first-of-type {
		padding-top: 0;
	}
	#footer.footer__reduced & {
		display: none;
	}
}
.toTop {
	grid-area: top;

	& a {
		/* text-decoration: none; */
		display: inline-flex;
		gap: 0.5em;
		justify-content: flex-end;
		align-items: center;
		color: var(--clr-green-100);
		&::link {
			text-decoration: none;
		}
		&:hover {

			& .icon {
				//transform: translateY(-.2em);
				scale: 1.2;
			}
		}
	}
	@media (--viewport-small) {
		& {
			text-align: right;
		}
	}
	#footer.footer__reduced & {
		display: none;
	}
}
.footer__reduced .footer {
    padding-block: .5rem;
		& [data-theme=light] .icon {
			--clr-icons: var(--clr-black-900);
		}
  }

/* @media screen and (min-width: 600px) {
  .footer__navigation {
    text-align: left;
  }
} */

@media screen and (min-width: 800px) {
  div.footer {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
#footer.footer__reduced .footer__navigation .social svg,
#footer.footer__reduced .footer__navigation .social {
	--clr-icons: var(--clr-purple-300);
	--clr-icons-hover: var(--clr-purple-700);
}
